.past {
    background-color: #eeeeee;
}

.monthCell:hover {
    background-color: #ff9999;
}

.has-task {
    background-color: #99ff99;
}

.fullwidth {
    width: 100%;
}

.input-group-addon { 
    width: 20%;
}